.input {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.input-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper select {
  width: 55px;
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 1.9rem;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}
.add__description {
  width: 50%;
}

.add__value {
  width: 13%;
}
.add__btn {
  font-size: 3.188rem;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  transition: all 0.3s;
}
.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid #28b9b5;
}

.red-focus:focus {
  border: 1px solid #ff5049 !important;
}

.red {
  color: #ff5049 !important;
}

.save__btn:active,
.add__btn:active,
.download__btn:active,
.history-toggle__btn:active {
  transform: translateY(2px);
}
