
.icon-check:before { content: '\e800'; } /* '' */
.icon-saved:before { content: '\e802'; } /* '' */
.icon-delete:before { content: '\e804'; } /* '' */
.icon-save-on-cloud:before { content: '\e805'; } /* '' */