.display {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display .income__wrapper,
.display .expense__wrapper,
.display .history__wrapper {
  flex-basis: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1% 2%;
}

.display .income__wrapper {
  justify-content: flex-end;
}
