*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root = html tag */
html {
  /* font-size:10px; */
  /* To support user defined font-size we gonna convert it into percentage*/
  /* (10/defaultfontsize)*100  where defaultfontsize=16*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
}
